<html>
  <head>
    <title>Hello Handlebars</title>
    <script src="handlebars-v4.7.7.js"></script>
  </head>

  <body id="body">
    <!-- one row template -->
    <script id="hb-template" type="text/x-handlebars-template">
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
          </tr>
        </thead>
        <tbody id="tbody">
          {{#each risks}}
            <tr>
              <td>{{id}}</td>
              <td>{{name}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </script>

    <!-- js -->
    <script>
      var templateSorce = document.getElementById("hb-template").innerHTML;
      // compile the template
      var template = Handlebars.compile(templateSorce);

      // execute the compiled template
      const data = {
        risks: [
          {
            id: "17",
            name: "Inbound From Any allow all UDP rules from Public IPs",
            activeRiskTriggers: 4,
            affectedAssets: 2,
            assetType: "EC2 Instance",
            comment: null,
            riskTriggers: 4,
            severity: "critical",
            status: "active",
            vendorName: "AWS",
          },
          {
            id: "18",
            name: "Inbound From Any allow all UDP rules from Public IPs",
            activeRiskTriggers: 4,
            affectedAssets: 2,
            assetType: "EC2 Instance",
            comment: null,
            riskTriggers: 4,
            severity: "critical",
            status: "active",
            vendorName: "AWS",
          },
          {
            id: "19",
            name: "Inbound From Any allow all UDP rules from Public IPs",
            activeRiskTriggers: 4,
            affectedAssets: 2,
            assetType: "EC2 Instance",
            comment: null,
            riskTriggers: 4,
            severity: "critical",
            status: "active",
            vendorName: "AWS",
          },
        ],
      };
      const templateData = template(data);
      document.getElementById("body").innerHTML += templateData;
    </script>
  </body>
</html>
