@font-face {
  font-family: Heebo-Regular;
  src: url("./fonts/heebo/Heebo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Heebo-Medium;
  src: url("./fonts/heebo/Heebo-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Heebo-Bold;
  src: url("./fonts/heebo/Heebo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Heebo-ExtraBold;
  src: url("./fonts/heebo/Heebo-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: Heebo-Light;
  src: url("./fonts/heebo/Heebo-Light.ttf") format("truetype");
}

/* cover */
.cover {
  page-break-after: always;
}

.risk {
  page-break-after: auto;
  height: 100px;
  width: 200px;
  background-color: rgb(102, 21, 252);
}

table {
  width: 100%;
}

.summary-title {
  margin-top: 13px;
  font-size: 20px;
  font-weight: bold;
}
.filters-title {
  margin-top: 13px;
  margin-bottom: 5px;
  font-size: 13px;
  width: 114px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #3e3d40;
}

/* @page */
@page {
  size: A4;
  margin: 20mm;
}

.meta {
  display: none !important;
}

/* variables */
generator {
  string-set: generator content();
}
tenantID {
  string-set: tenantID content();
}
createdOn {
  string-set: createdOn content();
}

/* header */

/* no header on first page */
@page :first {
  @top-left-corner {
    content: "";
    border-bottom: none;
  }
  @top-left {
    content: "";
    border-bottom: none;
  }
  @top-center {
    content: "";
    border-bottom: none;
  }
  @top-right {
    content: "";
    border-bottom: none;
  }
}

@page {
  @top-left-corner {
    content: url("images/cloudFlowImage.PNG");
    border-bottom: 1px solid rgb(31, 184, 17);
  }
  @top-right-corner {
    content: "";
    border-bottom: 1px solid rgb(31, 184, 17);
  }
  @top-left {
    content: string(createdOn);
    border-bottom: 1px solid rgb(31, 184, 17);
    white-space: pre;
    text-align: left;
    font-size: 10px;
    font-family: Heebo-Medium, sans-serif;
    padding-left: 200px;
    width: 60%;
  }
  @top-center {
    content: string(generator);
    border-bottom: 1px solid rgb(31, 184, 17);
    white-space: pre;
    text-align: left;
    font-size: 10px;
    font-family: Heebo-Medium, sans-serif;
    padding-left: 250px;
    width: 20%;
  }
  @top-right {
    content: string(tenantID);
    border-bottom: 1px solid rgb(31, 184, 17);
    white-space: pre;
    text-align: left;
    font-size: 10px;
    font-family: Heebo-Medium, sans-serif;
    width: 20%;
  }
}

/* footer */
@page {
  @bottom-right {
    content: counter(page);
    font-family: Heebo-Medium, sans-serif;
  }
}
@page {
  @bottom-left {
    content: "All right reserved to AlgoSec";
    font-family: Heebo-Medium, sans-serif;
  }
}

/* tables */

td {
  border: 1px solid lightgrey;
}

.table-title {
  color: black;
}

/* risks-table */

.risks-table {
  width: 100%;
  page-break-after: always;
  border-collapse: collapse;
  margin-top: 25px;
}

.risks-table thead {
  border: none;
}

.risks-table .table-head {
  background-color: #f3fafe;
  color: #3e3d40;
}
.risks-table th {
  font-weight: lighter;
  font-size: 10px;
  white-space: nowrap;
  text-align: center;
  padding-left: 7px;
}
.risk-name {
  text-decoration: underline;
  text-align: left !important;
  font-family: Heebo-Medium, sans-serif;
  color: #3e3d40;
}
.risks-table td {
  border-left: none;
  border-right: none;
  text-align: center;
  padding-left: 7px;
}

.risks-table tr {
  border: 0.1px;
  border-top: black;
  border-bottom: black;
  height: 44px;
}
.risks-table .risks-list-title {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  padding-left: 0px;
}
/* summary table */
.summary-page-tables {
  page-break-after: always;
}

/* TODO: handle opacity bulshit */
.summary-table {
  display: flex;
  background-color: rgba(209, 209, 209, 0.2);
  margin-bottom: 30px;
}
.summary-item {
  display: inline;
  width: 25%;
}
.item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  line-height: 200%;
}
/* TODO: handle cases of more than 3 digits with "," */
.summary-table .value {
  color: #1fa8e9;
  font-size: 30px;
  font-weight: bold;
}
.summary-table .title {
  font-size: 15px;
  color: #3e3d40;
}
.summary-table .suppressed {
  font-size: 11px;
  color: #646567;
}

.summary-table tr {
  vertical-align: top;
}

/* TODO: handle opacity bulshit */
/* filters table */
.filter-type {
  background-color: #d1d1d1;
  width: 20%;
  padding-left: 5px;
  white-space: nowrap;
  opacity: 0.2;
  color: #3e3d40;
}

.filters-table {
  margin-bottom: 30px;
  border-collapse: collapse;
}

.chip {
  align-items: center;
  justify-content: center;
  display: inline-block;
  background-color: #3e3d40;
  border-radius: 8px;
  padding: 2 5px 2px;
  background-color: #edf9ff;
  font-size: 14px;
  margin: 4px 5px;
  border: solid 1px #cdedfc;
}
.chip__content {
  margin-right: 3px;
}

.filters-table tbody td {
  padding: 4px;
}
/* status table */
.status-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.status {
  display: flex;
  flex-direction: row wrap;
  width: 49%;
  border: solid 2px #d1d1d1;
  justify-content: space-evenly;
  border-radius: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.status-table td {
  border-radius: 6px;
  border: 2erm solid gray;
}
.status-box {
  display: flex;
  justify-content: space-evenly;
}
.status-table .row {
  display: flex;
  flex-direction: row wrap;
}

.image-container {
  width: 75px;
  height: 75px;
  background-image: url("./images/azure_icon.png");
  text-align: center;
  line-height: 90px;
  padding-right: 20px;
}
.sub-data {
  color: #646567;
  font-size: 14px;
  padding-top: 4px;
  line-height: normal;
  letter-spacing: normal;
}
.critical,
.medium,
.high,
.low {
  font-weight: bold;
  font-size: 21px;
}
.critical {
  color: #dc4823;
}
.medium {
  color: #f2ce02;
}
.high {
  color: #fea41c;
}
.low {
  color: #90afca;
}

/* specific rule */
.risk-headline {
  display: flex;
  flex-direction: row wrap;
  padding-bottom: 15px;
  padding-top: 15px;
  font-family: Heebo-Medium, sans-serif;
}
.risk-headline .icon {
  padding-right: 5px;
  padding-left: 5px;
}
.specific-rule {
  page-break-after: always;
  margin-top: 20px;
}
.line {
  border-top: 1px solid rgb(231, 229, 229);
}

/* risk details table */
.risk-details-table {
  border: 0.1px;
  border-top: black;
  border-bottom: black;
  border-collapse: collapse;
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
  background-color: rgb(247, 244, 244);
  padding-bottom: 15px;
}
.risk-details-table td {
  border-left: none;
  border-right: none;
  padding-left: 7px;
  height: 55px;
}

.risk-details-table .title {
  font-weight: bold;
  font-size: 12px;
  font-family: Heebo-Medium, sans-serif;
  color: #3e3d40;
}
.risk-details-table .value {
  font-size: 14px;
  padding-bottom: 5px;
  padding-top: 2px;
  font-family: Heebo-Medium, sans-serif;
  color: #646567;
}
.risk-attr-title {
  text-align: left;
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 14px;
  font-family: Heebo-Medium, sans-serif;
  color: #3e3d40;
}
.risk-attr {
  text-align: left;
  padding-bottom: 10px;
  padding-bottom: 25px;
  font-size: 13px;
  font-family: Heebo-Medium, sans-serif;
  color: #3e3d40;
}

/* evidences table */
.evidences-table {
  border-collapse: collapse;
}
.evidences-table th {
  text-align: left;
  font-weight: bold;
  font-size: 10px;
  padding-left: 5px;
}

.evidences-table .table-head {
  background-color: #f3fafe;
  color: #3e3d40;
  font-size: 12px;
}
.evidences-table thead {
  background-color: rgb(232, 238, 248);
}

.evidences-table td {
  padding-left: 5px;
  border-left: none;
  border-right: none;
}

.evidence-row {
  background-color: rgb(243, 240, 240);
}
.evidence-path {
  text-decoration: underline;
  color: #1fa8e9;
}
.affected-asstes-title {
  width: 45%;
  color: #646567;
  font-size: 12px;
}

.actual-affected-asstes {
  color: #646567;
  font-size: 15px;
}

.flex-row {
  display: flex;
  flex-direction: row wrap;
}
.affected-asstes-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
* {
  font-family: Heebo-Medium, sans-serif;
}
