<head>
  <link rel="stylesheet" href="./node_modules/normalize.css/normalize.css" />
  <link rel="stylesheet" href="app.component.css" />
</head>
<generator class="meta">
  <h1>Genrated by:</h1>
  <div>{{generator}}</div>
</generator>
<tenantID class="meta">
  <h1>Tenant ID:</h1>
  <div>{{tenantID}}</div>
</tenantID>
<createdOn class="meta">
  <h1>Genrated on:</h1>
  <div>{{createdOn}}</div>
</createdOn>

<div class="cover">I am cover page</div>

<div class="summary-title">SUMMARY</div>
<div class="filters-title">Filters</div>
<div class="summary-page-tables">
  <!-- filters table -->
  <table class="filters-table">
    <tbody id="tbody">
      <tr>
        <td class="filter-type">Cloud type(s):</td>
        <td>
          {{#each filters.cloud}}
          <!-- not working: chip style not working on HBS -->
          <div class="chip">
            <div class="chip__content">{{this}}</div>
          </div>
          {{/each}}
        </td>
      </tr>
      <tr>
        <td class="filter-type">Cloud region(s):</td>
        <td>
          {{#each filters.region}}
          <div class="chip">
            <div class="chip__content">{{this}}</div>
          </div>
          {{/each}}
        </td>
      </tr>
      <tr>
        <td class="filter-type">Cloud acoount(s):</td>
        <td>
          {{#each filters.accounts}}
          <div class="chip">
            <div class="chip__content">{{this}}</div>
          </div>
          {{/each}}
        </td>
      </tr>
      <tr>
        <td class="filter-type">Cloud tags</td>
        <td>
          {{#each filters.tags}}
          <div class="chip">
            <div class="chip__content">{{this}}</div>
          </div>
          {{/each}}
        </td>
      </tr>
    </tbody>
  </table>

  <!-- summary table -->
  {{#with summaryData}}
  <div class="summary-table">
    <div class="summary-item">
      <div class="item-container">
        <div class="title">Risks found</div>
        <div class="value">{{risksCount}}</div>
        <div class="suppressed">+{{suppressedRisksCount}} suppressed</div>
      </div>
    </div>
    <div class="summary-item">
      <div class="item-container">
        <div class="title">Triggers</div>
        <div class="value">{{triggersCount}}</div>
        <div class="suppressed">+{{suppressedTriggersCount}} suppressed</div>
      </div>
    </div>
    <div class="summary-item">
      <div class="item-container">
        <!-- not working: vertical-align: super not working on HBS-->
        <div class="title">Affected assets</div>
        <div class="value">{{affectedAssetsCount}}</div>
        <div class="suppressed"></div>
      </div>
    </div>
    <div class="summary-item">
      <div class="item-container">
        <div class="title">Total assets</div>
        <div class="value">{{totalAssets}}</div>
        <div class="suppressed"></div>
      </div>
    </div>
  </div>

  <!-- status table -->
  <div>
    <div class="status-row">
      <div class="status">
        <div class="image-container">{{criticalRisks}}</div>
        <div>
          <div class="critical">Critical</div>
          <div class="sub-data">
            {{criticalTriggers}} Triggers<br />
            {{affectedAssetsByCritical}} Affected assets
          </div>
        </div>
      </div>
      <div class="status">
        <div class="image-container">{{highRisks}}</div>
        <div>
          <div class="high">High</div>
          <div class="sub-data">
            {{highTriggers}} Triggers<br />
            {{affectedAssetsByHigh}} Affected assets
          </div>
        </div>
      </div>
    </div>
    <div class="status-row">
      <div class="status">
        <div class="image-container">{{mediumRisks}}</div>
        <div>
          <div class="medium">Medium</div>
          <div class="sub-data">
            {{mediumTriggers}} Triggers<br />
            {{affectedAssetsByMedium}} Affected assets
          </div>
        </div>
      </div>
      <div class="status">
        <div class="image-container">{{lowRisks}}</div>
        <div>
          <div class="low">Low</div>
          <div class="sub-data">
            {{lowTriggers}} Triggers<br />
            {{affectedAssetsByLow}} Affected assets
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/with}}
</div>

<!-- TODO: need to show up every page of this table. right now shows only once  -->

<table class="risks-table">
  <thead>
    <tr>
      <th class="risks-list-title" colspan="5">LIST OF RISKS</th>
    </tr>
    <tr class="table-head">
      <th colspan="2"></th>
      <th>Severity</th>
      <th>Triggers</th>
      <th>Affected assets</th>
    </tr>
  </thead>
  <tbody id="tbody">
    {{#each risks}}
    <tr>
      <td>
        <img src="images/{{vendorName}}_icon.png" width="20" height="20" />
      </td>
      <td class="risk-name">{{name}}</td>
      <td>{{severity}}</td>
      <td>{{riskTriggers.length}}</td>
      <td>{{objectLength affectedAssets}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<!-- risk details (each risk has its on page) -->
{{#each risks}}

<div class="specific-rule">
  <hr class="line" />
  <div class="risk-headline">
    <img
      class="icon"
      src="images/{{vendorName}}_icon.png"
      width="20"
      height="20"
    />
    <div>{{name}}</div>
  </div>
  <hr class="line" />
  <!-- risk details table -->
  <table class="risk-details-table">
    <tbody id="tbody">
      <tr>
        <td>
          <div class="title">Triggers:</div>
          <div class="value">{{riskTriggers.length}}</div>
        </td>
        <td>
          <div class="title">Affected assets:</div>
          <div class="value">{{objectLength affectedAssets}}</div>
        </td>
        <td>
          <div class="title">Risk ID:</div>
          <div class="value">{{id}}</div>
        </td>
        <td>
          <div class="title">Severity:</div>
          <div class="value">{{severity}}</div>
        </td>
        <td>
          <div class="title">Asset type:</div>
          <div class="value">{{assetType}}</div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="risk-attr-title">Description:</div>
  <div class="risk-attr">{{description}}</div>
  <div class="risk-attr-title">Remediation recommendation:</div>
  <div class="risk-attr">{{remediationRecommendation}}</div>

  <div>{{riskTriggers.length}} risk triggers</div>

  <!-- evidence table -->
  <table class="evidences-table">
    <thead>
      <tr class="table-head">
        <th>Evidence</th>
        <th>Region</th>
        <th>Vnet</th>
        <th>Last used</th>
      </tr>
    </thead>
    <tbody>
      {{#each riskTriggers}}
      <tr class="evidence-row">
        <td class="evidence-path">rrr / rrr / rrr / rr</td>
        <td>{{getField evidence "region"}}</td>
        <td>{{getField evidence "vpcId"}}</td>
        <td>{{getField evidence "lastUsed"}}</td>
        {{/each}}
      </tr>
      <tr class="affected-asstes-row">
        <div class="affected-asstes-title">Affected assets:</div>
        <div class="actual-affected-asstes">
          {{getAffectedAssets affectedAssets}}
        </div>
      </tr>
    </tbody>
  </table>
</div>
{{/each}}
